.section
  .title {{title}}
  tabs(tabs='{{sections}}', selected='{{selected}}', error='{{error.location}}')
  .editors
    {{#sections:language}}
    div(class="editor {{selected!==language ? 'hide' : 'show'}}")
      editor-control(language='{{language}}', code='{{.}}')
    {{/sections}}
  {{#error}}
  pre.error
    {{message}}
  {{/error}}