pane
  pane
    template(component='{{component}}')
  pane
    styling(component='{{component}}')
  pane
    datum(component='{{component}}')
  pane
    scripting(component='{{component}}')
  sizer
pane
  preview(component='{{component}}', features='{{features}}')
sizer(orientation='horizontal')