- function style(key, value) {
-   return key + ': {{' + value + '}}%;'
- }
{{#pane}}
pane-node(style="{{ignore(.position)}};\
  #{style('right', '100-.position.x')}\
  #{style('bottom', '100-.position.y')}\
  #{style('left', '.position.x')}\
  #{style('top', '.position.y')}")
  .pane-inner
    {{>content}}
{{/pane}}