doctype
html
	head
		link(rel="stylesheet", type="text/css", href="css/components.css")
	body
		p hello earth

		script#layout(type='text/jade') !{layout}

		script.
			var layout = document.getElementById('layout').text

		script(src="js/ace/ace.js")
		script(src="js/ace/ext-themelist.js")
		script(src="js/ace/ext-modelist.js")
		script(src="js/jade.js")
		script(src="js/stylus.js")

		script(src="js/Ractive.js")
		script(src="js/Ractive-events-tap.js")
		script(src="js/components.js")
		script(src="js/load.js")