.editors
  {{#section}}
  settings(tabs='{{code}}', selected='{{config.selected}}', error='{{error.location}}')
  .editor-container
    {{#code:language}}
    .editor(style="{{#config.selected!==language}} visibility: none; z-index: -1; {{/}}")
      editor(language='{{language}}', code='{{.}}')
    {{/code}}
  {{#error}}
  error
  {{/error}}
  {{/section}}