.editors
  .editor-container
    editor-config(config='{{config}}')
    {{#section}}
    steps(steps='{{section.steps}}', selected='{{selected}}')
    {{#steps:i}}
    .editor(style="{{#i!==selected}}visibility: hidden; z-index: -1; {{/}}")
      editor(on-codeChange='codeChanged', on-refreshRequest='refreshRequested', resource='{{.}}', config='{{config}}')
    {{#error}}
    error(error='{{.}}')
    {{/error}}
    {{/steps}}
    {{/section}}