.dflux {
    font-size: 14pt;
    padding-left: 5px;
    color: steelblue;
}
.dflux span {
    font-size: 14pt;
    font-family: cursive; 
    font-style: italic;
}
.project {
    position: absolute;
    height: 100%; width: 100%;
    background: lightsteelblue;
    overflow: scroll;
}
.project .components {
    list-style-type: circle;
    padding-left: 20px;
    color: darkgoldenrod;
    cursor: pointer;
    font-family: sans-serif;
    -webkit-user-select: none;
}
.project .selected {
    color: Khaki;
}
.project .components input {
    width: 90%;
    max-width: 150px;
}