.dflux {
    font-size: 14pt;
    padding-left: 5px;
    color: steelblue;
}
.dflux span {
    font-size: 14pt;
    font-family: cursive; 
    font-style: italic;
}
.project {
    position: absolute;
    height: 100%; width: 100%;
    background: lightsteelblue;
    overflow: scroll;
}
.project .features {
    list-style: none;
    font-family: arial;
    color: rgb(105, 105, 105);
    padding-left: 5px;
    margin: 0px;    
}
.project .features>li {
    padding-left: 0px;
    margin-top: 10px;
}
.project .components {
    list-style-type: circle;
    padding-left: 20px;
    color: darkgoldenrod;
    cursor: pointer;
    font-family: sans-serif;
    -webkit-user-select: none;
}
.project .components>li {
    padding-top: 1px;
}
.project .selected {
    color: Khaki;
}
.project .features input {
    width: 85%;
    max-width: 120px;
}
.project .components input {
    width: 80%;
    max-width: 100px;
}