.project
  .dflux d<span>flux</span>
  ul.components
    {{#project}}
    {{#components:i}}
    li(on-click='select', class='{{#(.name===project.current.name)}}selected') {{name}}
    {{/components}}
    li
      input(on-enter_kp='add:{{new}}', value='{{new}}')
    {{/project}}