.orientation-both {
    background-image: url(../images/quad_resize.png); 
}
.orientation-horizontal {
    background-image: url(../images/horizontal_resize.png);
}
.orientation-vertical {
    background-image: url(../images/vertical_resize.png);
}
.sizer {
    position: absolute; 
    z-index: 1000;
    -webkit-transform: translate(-9px, -9px) scale(.8);
    height: 16px; width: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    background-color: rgba(176, 224, 230, 0.8);
    border: 1px solid rgb(70, 130, 180);
    border-radius: 100%;
    opacity: .9;
    cursor: default;
    box-shadow: 1px 1px 3px 2px rgba(192, 192, 192, 0.6);
}
.sizer:hover, .sizer.moving {
    -webkit-transform: translate(-9px, -9px) scale(1.3);
    opacity: 1;
}

