{{#pane}}
.sizer(decorator='moveable: {{.position}}, {{orientation}}',
    style='top: {{.position.y || 50}}%; left: {{.position.x || 50}}%;',
    class='orientation-{{orientation}}') {{ignore(.position)}}
{{/pane}}