.settings {
  margin: auto;
}
.set-box {
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    background: steelblue;
    color: whitesmoke;
    font-family: sans-serif;
    border-radius: 3px;
    line-height: 25px;
    -webkit-transition: opacity .5s ease-out;
}
.settings:hover .set-box,
.settings[force=true] .set-box{
    opacity: 1;
    -webkit-transition-delay: 0s;   
}
.settings:not(:hover):not([force=true]) .set-box {
    opacity: 0;
    -webkit-transition-delay: 1s;    
}
.settings:not(:hover) .set-box {
    -webkit-transition-delay: 1s;    
}

.set-box > div { 
    -webkit-user-select: none;
}
.gear {
    font-size: 16pt;
    font-family: symbol;
    text-align: center;
    width: 25px;
    line-height: 34px;
    margin-bottom: -9px;
}

.title, .tabs, .tabs > label {
    line-height: 29px;
    font-size: 10pt;
}
.title {
    padding-right: 20px;  
    padding-left: 5px;  
}
.tabs {
    padding: 0px 5px
}
.tabs > label[selected=true] {
    background: lightsteelblue;
    color: steelblue;
}
.tabs > label:hover {
    background: #87907D;
    color: whitesmoke;
}
.tabs > label {
    cursor: pointer;
    padding: 6px;
}
.tabs [type='radio']{
    display: none;    
}
.tabs label[error=true]{
    color: red;
    background: pink;
}